<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Test Suite" verbose="2">
  <test thread-count="5" name="Test cases">
  <classes>
  <class name="TestAnnotations.dependsonmethods"></class>
  <class name="TestAnnotations.drivethecar"></class>
  <class name="TestAnnotations.skipatestcase"></class>
  <class name="TestAnnotations.testsuites"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
